#stat-card{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "image heading body stats";
  }
  #image{
  background: url(./images/image-header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  grid-area: "image";
  }

  #heading{
    font-family: 'Inter';
    font-weight: 700;
    color: white;
    text-align: center;
    grid-area: "heading";
  }

  #para{
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 20px;
    font-size: 15px;
    font-family: 'Inter';
    line-height: 25px;
    grid-area: "body";
  }

  #stats{
    grid-area: "stats";
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    padding-top: 50px;
    font-family: 'Inter';
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
